{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'quotes_quote_list' %}">Quote Listing</a></p>
<table class="table">
<tr><td>text</td><td>{{ object.text }}</td></tr>
<tr><td>author</td><td>{{ object.author }}</td></tr>
</table>
<a class="btn btn-primary" href="{{object.get_update_url}}">Edit Quote</a>

{% endblock %}