{% extends "base.html" %}
{% load static %}
{% block content %}
<p><a class="btn btn-default" href="{% url 'quotes_quote_list' %}">Quote Listing</a></p>
<table class="table">
<tr>
<td>ID</td><td>Link</td>
    <td>text</td>
    <td>author</td>
</tr>
{% for object in object_list %}
<tr>
    <td>{{object.id}}</td>
    <td><a href="{{object.get_absolute_url}}">{{object}}</a></td>
    <td>{{ object.text }}</td>
    <td>{{ object.author }}</td>
</tr>
{% endfor %}
</table><a class="btn btn-primary" href="{% url 'quotes_quote_create' %}">Create new Quote</a>
{% endblock %}